.service{
  width: 100%;
  height: 500px;
  display: flex;
  gap: 50px;
}

.service > div{
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.service > div:hover{
  width: 150%;
}

.service h1{
  font-size: 3.5rem;
}

.home_info{
  font-size: 1.75rem;
  margin-top: auto;
  font-weight: 700;
}

.info_btn{
  margin-top: 30px;
  text-align: end;
}

.info_btn > button{
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.3);
}

.info_btn > button:hover{
  background-color: rgba(255, 255, 255, 0.4);
}
 
.info_btn > button:active{
  background-color: rgba(255, 255, 255, 0.2);
}

.service img{
  width: 100%;
  pointer-events: none;   
  margin: 0 auto;
  max-height: 350px;
}

.first_service{
  background: linear-gradient(135deg, #80CBC4, #B2DFDB);
  color: #00695C;
}

.middle_service{
  background: linear-gradient(135deg, #FFC107, #FFD54F);
  color: #E65100;
}

.last_service{
  background: linear-gradient(135deg, #6ccc91, #43A047);
  color: #335734;
}

.content{
  display: flex;
  justify-content: space-between;
  height: 500px;
}