.container{
  width: 500px;
  margin: 50px auto;
}

.container input, .container button, .container select{
  padding: 12px !important;
  font-size: 1rem; 
  vertical-align: middle;
  box-sizing: border-box;
}

.container input:not([type="checkbox"]),
.container select {
  height: 45px !important;
}

.container input {
  outline: 1px solid #777777;
  outline-offset: -1px;
}

.container input:focus {
  outline: 2px solid #1c1c1c !important;
}

Button:hover{
  cursor: pointer;
}

/* 에러 상태 Input */
.input_error input {
  outline: 2px solid #ff0000 !important;
}

.input_error input:focus {
  outline: 2px solid #1c1c1c !important;
}

/* 에러 메시지 */
.error {
  height: 5px;
  font-size: 0.8rem;
  margin-top: 10px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.error i {
  padding-right: 8px;
  vertical-align: middle;
}

.form{
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 60px;

  display: flex;
  flex-direction: column;
}

/* .normal_login, .social_login{
  display: flex;
  flex-direction: column;
  align-content: center;
} */

.normal_login p {
  margin-bottom: 8px;
}


.form_title{
  font-weight: 600;
}

/* 비밀번호 */
.pw_wrap {
  position: relative;
}

.pw_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 1.2rem;
}

.pw_icon:hover {
  color: #333;
}

/* 아이디 저장 */
.checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox p {
  margin: 0;
  line-height: 1;
}

.link_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

.link_wrap p{
  color: #6a6a6a;
  position: relative;
  display: flex;
  align-items: center;
}

.link_wrap p:hover{
  font-weight: 600;

  transition: 0.2s;
  cursor: pointer;
}

.link_wrap p:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #aeaeae;
  margin-left: 10px;
  vertical-align: middle;
  pointer-events: none;
}

.btn{
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 10px 0px;
}