.container{
  width: 1200px;
  margin: 0 auto;
}

.form{
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.normal_login, .social_login{
  width: 100%;
}

Button:hover{
  cursor: pointer;
}

.btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}