.container{
  width: 1200px;
  margin: 0 auto;
}

 .form{
  width: 100%;
  background-color: white;
  border: 1px solid #939597;
  border-radius: 10px;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.normal_login, .social_login{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 1px;
  background-color: #939597;
  align-self: stretch;
}

.normal_login p {
  font-size: 0.9rem;
  color: #727272;
  margin-bottom: 8px;
}

.err_msg {
  height: 5px;
  color: #ff4444;
  font-size: 0.75rem !important;
  margin-top: 8px;
  
  display: flex;
  align-items: center;
  gap: 4px;
}

.normal_login Input[type="checkbox"]{
  outline: none;
  margin: 0px;
}

.checkbox{
  display: flex;
  gap: 10px;
}

.link_wrap{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link_wrap p{
  transition: 0.2s;
  cursor: pointer;
}

.link_wrap p:hover{
  color: #333333;
  font-weight: 600;
}

Button:hover{
  cursor: pointer;
}

.btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}