.container{
  width: 100%;
  padding: 30px 30px;
  border: 1px solid rgb(215, 215, 215);  
  border-radius: 8px;  
  box-shadow: 0px 0px 5px 3px rgb(245, 245, 245); 
}
.title{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title > div {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.title > div > i{
  font-size: 2.2rem;
  color: #E74C3C;
}
.title > div > h2 > span{
  color: #E74C3C;
}
.box{
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
.box > div{
  width: 25%;
  height: 100px;
  padding: 12px 15px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.box > div > p{
  font-size: 0.8rem;
}
.box > div > span{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  /* 버튼을 오른쪽 끝으로 배치 */
  justify-content: end;
  align-items: flex-end;
} 
.number{
  display: flex;
  flex-direction: column;
/* 버튼을 오른쪽 끝으로 배치 */
  justify-content: end;
  align-items: flex-end;
}
.number > span{
  font-size: 2rem;
  font-weight: bold;
}
.number > p{
  font-size: 0.8rem;
}

.box > div:first-child{
  background: linear-gradient(135deg, #83a6c9, #34495E);
  border-radius: 8px; 
}
.box > div:nth-child(2){
  background: linear-gradient(135deg, #E67E22 , #E74C3C);
  border-radius: 8px; 
}
.box > div:nth-child(3){
  background: linear-gradient(135deg, #E67E22 , #E74C3C);
  border-radius: 8px; 
}
.box > div:last-child{
  background: linear-gradient(135deg, #6dc95a, #37a029);
  border-radius: 8px; 
}
.chart{
  margin-bottom: 50px;
}
