.btn{
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: all 0.1s;
}

.blue{
  background-color: #4d4fc9;
}

.blue:hover{
  background-color: #3c3eb8;
}

.blue:active{
  background-color: #5e5fda;
}

.green{
  background-color: #4dab28;
}

.green:hover{
  background-color: #3c9a17;
}

.green:active{
  background-color: #5ebc39;
}

.red{
  background-color: #db2b34;
}

.red:hover{
  background-color: #ca1a23;
}

.red:active{
  background-color: #ec3c45;
}

.brown{
  background-color: #b46a38;
}

.brown:hover{
  background-color: #c57b49;
}

.brown:active{
  background-color: #a35927;
}

.orange{
  background-color: #ffa500;
}

.orange:hover{
  background-color: #ee9400;
}

.orange:active{
  background-color: #ffb611;
}

.disabled{
  cursor: default;
  background-color: #cccccc;
}

.disabled:hover{
  cursor: default;
  background-color: #cccccc;
}

.disabled:active{
  cursor: default;
  background-color: #cccccc;
}