.user_table{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.user_thead{
  background-color: #d2f3b5;
}

.user_table tr{
  border-bottom: 1px solid black;
}

.user_table td{
  padding: 7px 5px
}

.btn_div{
  display: flex;
  justify-content: end;
  gap: 8px;
}

.search_div{
  display: flex;
  justify-content: end;
  gap: 6px
}


.totalUsers{
  margin-top: 30px;
}