.container{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #cccccc;
  background-color: white;
  padding: 20px;
}

.title > h1{
  display: flex;
  gap: 10px;
}

.important {
  margin: 15px 7px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxCustom {
  width: 20px;
  height: 20px;
  border: 2px solid #777777;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.checkboxInput:checked + .checkboxCustom {
  background-color: #4CAF50;
}

.checkboxInput:checked + .checkboxCustom::after {
  content: '✓';
  position: absolute;
  color: white;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labelText {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

.content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content > div > p{
  margin-bottom: 5px;
}

.icon_span{
  color: #555555;
  font-size: 1.1rem;
}

.file_info{
  font-size: 0.8rem;
}

.file > label{
  border-radius: 5px;
  padding: 12px;
  display: block;
  width: 100%;
  border: 2px dashed #4dab28;
  background-color: #dcffcb;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.file > label > div{
  display: flex;
  align-items: center;
}

.btn_div{
  text-align: end;
}